/*** Admin Bar
----------------------------------------------------------------------------------------------------------------------------------*/
#wpadminbar {
  background: #000000;
}
#wpadminbar {
  background-image: url("../login/codemay-icon-small.png");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  background-size: 15px auto;
  color: rgba(0, 0, 0, 0);
}
#wpadminbar #wp-admin-bar-root-default {
  padding-left: 30px;
}

#wp-admin-bar-wp-logo {
  display: none;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon::before {
  color: #fff5d9;
}
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #5f6f6c;
}

@include breakpoint-down(sm) {
  #wpadminbar {
    background-position: 52px 15px;
  }
  #wpadminbar #wp-admin-bar-root-default {
    padding-left: 0;
  }
  #wpadminbar li#wp-admin-bar-my-sites,
  #wpadminbar li#wp-admin-bar-new-content,
  #wpadminbar li#wp-admin-bar-wpseo-menu,
  #wpadminbar li#wp-admin-bar-site-name {
    display: none;
  }
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #000000;
}
#wpadminbar #adminbarsearch::before, #wpadminbar .ab-icon::before, #wpadminbar .ab-item::before,
#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon,
#wpadminbar .quicklinks li .blavatar,
#wpadminbar #adminbarsearch::before, #wpadminbar .ab-icon::before, #wpadminbar .ab-item::before,
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #fff;
}
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, #wpadminbar li #adminbarsearch.adminbar-focused::before, #wpadminbar li .ab-item:focus .ab-icon::before, #wpadminbar li .ab-item:focus::before, #wpadminbar li a:focus .ab-icon::before, #wpadminbar li.hover .ab-icon::before, #wpadminbar li.hover .ab-item::before, #wpadminbar li:hover #adminbarsearch::before, #wpadminbar li:hover .ab-icon::before, #wpadminbar li:hover .ab-item::before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar, #wpadminbar .quicklinks li a:focus .blavatar, #wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label {
  color: #fff5d9;
}
#wpadminbar .ab-sub-wrapper, #wpadminbar ul, #wpadminbar ul li,
#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  background: #000000;
}

/* Get rid of WP logo before site links */
#wpadminbar .quicklinks li .blavatar::before {
  display: none;
}