@font-face {
    font-family: 'Bandung';
    src: url('../fonts/bandung-webfont.woff2') format('woff2'),
         url('../fonts/bandung-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}